h2 {color: red; font-size: 36pt;}
p {color:blue; font-family: monospace} 
#titulo-1 {font-style: italic;}
#titulo-2 {font-weight: 900}

.base {border: 2px dashed orangered; 
margin-top: 4em; 
margin-right: 3em; 
margin-bottom: 2em;
margin-left: 1em;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 3em;
  padding-left: 4em;
  }
.ultimo {color: green}
p.ultimo {color:blueviolet}
.par.ultimo {font-weight: bold;}
h2, h3 {color: cornflowerblue; font-size: 36pt;}
.base >h2 {text-align: right;}
.base >p.par >span {text-decoration: underline;}
.base .ejemplo {font-family: sans-serif;}
